<div class="chess-board p-2 h-[100vh] w-[100vw] flex items-center justify-center flex-wrap">
  <div class="w-full flex items-center justify-center gap-[5rem]">
    <button (click)="chess.reset()"
      class="flex flex-col gap-[0.5rem] p-4 justify-center items-center bg-orange-300 rounded transition-all hover:shadow-md hover:bg-orange-500 hover:scale-110">
      <img src="assets/restart.svg" alt="restart" class="h-[2rem] w-[2rem]" />
      <span>Restart</span>
    </button>
    <button (click)="chess.undo()"
      class="flex flex-col gap-[0.5rem] p-4 justify-center items-center bg-orange-300 rounded transition-all hover:shadow-md hover:bg-orange-500 hover:scale-110">
      <img src="assets/restart.svg" alt="restart" class="h-[2rem] w-[2rem]" />
      <span>Undo</span>
    </button>
    <button (click)="chess.redo()"
      class="flex flex-col gap-[0.5rem] p-4 justify-center items-center bg-orange-300 rounded transition-all hover:shadow-md hover:bg-orange-500 hover:scale-110">
      <img src="assets/restart.svg" alt="restart" class="h-[2rem] w-[2rem]" />
      <span>Redo</span>
    </button>
    <div class="flex items-center flex-col justify-center">
      <span class="block w-full border-b border-black text-center p-1 mb-1">Timer</span>
      <app-timer [past]="lastMove"></app-timer>
    </div>
    <div class="flex items-center flex-col justify-center">
      <span class="block w-full border-b border-black text-center p-1 mb-1">Total</span>
      <app-timer [past]="startFrom"></app-timer>
    </div>
  </div>
  <div class="board h-[46rem] w-[46rem] flex gap-[1rem] flex-wrap">
    <div class="w-[5rem] h-[5rem] flex">
    </div>
    <div class="w-[40rem] h-[5rem] flex">
      <div *ngFor="let alphabet of chess.alphabets; let odd = odd"
        class="w-[5rem] capitalize flex items-center justify-center rounded"
        [ngClass]="{ 'bg-green-100 text-black': odd, 'bg-green-400 text-black': !odd }">
        {{ alphabet }}
      </div>
    </div>
    <div class="w-[5rem] h-[40rem] flex flex-col-reverse">
      <div *ngFor="let num of chess.numbers; let odd = odd"
        class="h-[5rem] w-full capitalize flex items-center justify-center rounded"
        [ngClass]="{ 'bg-green-100 text-black': odd, 'bg-green-400 text-black': !odd }">
        {{ num }}
      </div>
    </div>
    <div class="w-[40rem] h-[40rem] flex flex-col-reverse">
      <div *ngFor="let num of chess.numbers; let odd = odd; trackBy:trackerNum" class="flex">
        <button *ngFor="let item of chess.alphabets; let itemOdd = odd; trackBy:trackerAlpha"
          class="chess-item p-5 h-[5rem] w-[5rem] flex items-center relative justify-center transition overflow-hidden"
          [ngClass]="{
            'bg-green-100': (odd && !itemOdd) || (!odd && itemOdd),
            'bg-green-400': (!odd && !itemOdd || (odd && itemOdd)),
            'bg-green-800': getNode(item, num)?.selected,
            'cursor-not-allowed': isDisabled(item, num),
          }" (click)="selectItem(item, num)" [disabled]="isDisabled(item, num)">
          <label *ngIf="getNode(item, num)?.highlighted"
            class="bg-green-800/70 block h-full w-full absolute inset-0 flex items-center justify-center p-4">
            <span class="rounded-full block h-full w-full bg-green-800/30 shadow-inner"></span>
          </label>
          <span *ngIf="getNode(item, num)?.piece?.component transition" class="h-full w-full block z-[1]" [ngClass]="{
              'fill-orange-500': getNode(item, num)?.team === 1,
              'fill-purple-500': getNode(item, num)?.team === 2,
              'scale-110': getNode(item, num)?.selected,
            }">
            <ng-container *ngTemplateOutlet="getPieceComponent(item, num)"></ng-container>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #rook>
  <app-rook />
</ng-template>

<ng-template #knight>
  <app-knight />
</ng-template>

<ng-template #bishop>
  <app-bishop />
</ng-template>

<ng-template #queen>
  <app-queen />
</ng-template>

<ng-template #king>
  <app-king />
</ng-template>

<ng-template #pawn>
  <app-pawn />
</ng-template>
